.container {
  position: absolute;
  top: 5%;
  margin-right: auto;
  margin-left: 10%;
}


.backButton {
  margin-left: 1%;
  margin-top: 1%;
  margin-right: auto;
  float: left;
}

.setMemesFolder {
  margin-right: 1%;
  margin-top: 1%;
  margin-left: auto;
  float: right;
}

.memePreviewContainer {
  display: flex;
  top: 5%;
  flex-direction: column;
  justify-content: center;
  overflow: scroll;
  overflow-y: scroll;
  width: 77vw;
  height: 87vh;
}

.s {
    overflow-y: scroll;
}