.backButton {
    display: block;
}

.memePreviewContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

* {
    text-align: center;
    align-content: center;
}